.tag{
    margin-left: 1rem;
    margin-top: 4rem;
    margin-bottom: -0.5rem;
    display:flex;
    flex-direction: row;
    /* justify-content:space-between; */
}

.icon{
    margin-left: 1rem;
    margin-right: 0.5rem;
    margin-top: 0.75rem;
}


.name{
    margin-left:unset;
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 55%;
}

.num{
    font-size: 0.75rem;
    color: #a09e9e;
    margin-top: 0.85rem;
}

.ic{
    margin-left: 15%;
    margin-top: 1%;
}